.navigation {
    background-color: aqua;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
}

.navbar {
    padding: 0;
}

.nav-link {
    color: black;
    font-size: large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.headshot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#headshot {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.organization, .fsu, .zaxbys {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 30px;
}



.carousel-image {
    height: 450px;
    border: 5px solid black;
}

.carousel {
    height: 500px;
    width: 700px;
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators {
    background-color: gray;
}

h5 {
    font-size: x-large;
    font-weight: 700;
}

.carousel-caption {
    color: black;
    position: static;
    font-size:x-large;
    padding-bottom: 10px;
}

.carousel-indicators {
    position: static; /* Need this for indicators to be at the bottom. */
    width: 700px;
    margin: 0;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    margin-top: 230px;
}


.contact-me-text {
    margin-bottom: 30px;
}

#contact-me {
    margin-bottom: 30px;
}

.submit {
    background-color: rgb(63, 63, 238);
    color: white;
    width: 160px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 30px;
}
@media (max-width: 991px) {
    .navigation {
        flex-direction: row;
        text-align: center;
    }
}