.navigation {
    background-color: aqua;
    padding-bottom: 5px;
    display: flex;
    text-align: center;
}

.navbar {
    padding: 0;
}

.navbar-toggler {
    margin-top: 5px;
}

.nav-link {
    color: black;
    font-size: large;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.contact-me-text, .description {
    font-size: large;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.headshot {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#headshot {
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 50%;
}

.organization, .fsu, .zaxbys {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 30px;
}

.carousel-image {
    height: 450px;
    border: 5px solid black;
}

.carousel {
    height: 500px;
    width: 700px;
}

.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators {
    background-color: gray;
}

h5 {
    font-size: x-large;
    font-weight: 700;
}

.carousel-caption {
    color: black;
    position: static;
    font-size:x-large;
    padding-bottom: 10px;
}

.carousel-indicators {
    position: static; /* Need this for indicators to be at the bottom. */
    width: 700px;
    margin: 0;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.another-contact { 
    margin-top: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.contact-me-text {
    margin-bottom: 30px;
}

#contact-me {
    margin-bottom: 30px;
}

.submit {
    background-color: rgb(63, 63, 238);
    color: white;
    width: 160px;
    height: 60px;
    border-radius: 20px;
    border: none;
    font-size: x-large;
    font-weight: 500;
    margin-bottom: 30px;
}


@media (min-width: 769px) { /* Laptops and larger devices. */
    .navigation {
        flex-direction: column;
    }

    .organization, .fsu, .zaxbys {
        justify-content: center;
        margin-right: 200px;
    }

    .carousel-control-next-icon {
        margin-top: 70px;
    }

    .carousel-control-prev-icon {
        margin-top: 70px;
    }
}

@media (max-width: 768px) { /* Mobile devices and tablets. */

    .organization, .fsu, .zaxbys {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .carousel {
        width: 400px;
    }

    .carousel-image {
        height: 250px;
    }
    
    .carousel-item img {
        object-fit:scale-down;
    }

    .carousel-control-next-icon {
        margin-bottom: 160px;
    }

    .carousel-control-prev-icon {
        margin-bottom: 160px;
    }

    .carousel-indicators {
        width: 400px;
    }

    .another-contact {
        margin-top: 60px;
    }

    #contact-me { /* Decreasing the width of the text boxes on mobile devices. */
        width: 250px;
    }
}